---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
import DiaryLog from '../components/DiaryLog/index.jsx';

interface MarkdownFrontmatter {
  publishDate: number;
}

const diaryLogs = Astro.fetchContent<MarkdownFrontmatter>('./diaryLog/**/*.md')
  .filter(({ publishDate }) => !!publishDate)
  .sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());
// const diaryLogs = Astro.fetchContent('./diaryLog/**/*.md');
---
<html lang="en">
  <head>
    <MainHead title="Diary Log | Divyaksh Shukla" />
    <style lang="scss">
      .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1rem;
        grid-auto-flow: row;
      }
      @media only screen and (max-width: 720px) {
          .grid {
          display: grid;
          grid-template-columns: auto;
          grid-gap: 1rem;
          grid-auto-flow: row;
        }
      }
    </style>
  </head>
  <body class="wrapper">
    <Nav />
    <div>
      <h1 class="title">Diary Log Entries</h1>
      <div class="grid">
      <!-- <DiaryLog client:visible /> -->
        {diaryLogs.map((diaryLog) => (
          <DiaryLog log={diaryLog} client:only="react" ></DiaryLog>
        ))}
      </div>
    </div>
    <Footer />
  </body>
</html>
